AttributeExporterXrmToolBoxPlugin.sln
obj/AttributeExporterXrmToolBoxPlugin.csproj.nuget.dgspec.json
obj/AttributeExporterXrmToolBoxPlugin.csproj.nuget.g.props
obj/AttributeExporterXrmToolBoxPlugin.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0-windows/AttributeExporterXrmToolBoxPlugin.AssemblyInfo.cs
obj/Debug/net6.0-windows/AttributeExporterXrmToolBoxPlugin.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/AttributeExporterXrmToolBoxPlugin.assets.cache
obj/Debug/net6.0-windows/AttributeExporterXrmToolBoxPlugin.csproj.AssemblyReference.cache
obj/Debug/net6.0-windows/AttributeExporterXrmToolBoxPlugin.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/net48/AttributeExporterXrmToolBoxPlugin.AssemblyInfo.cs
obj/Debug/net48/AttributeExporterXrmToolBoxPlugin.AssemblyInfoInputs.cache
obj/Debug/net48/AttributeExporterXrmToolBoxPlugin.assets.cache
obj/Debug/net48/AttributeExporterXrmToolBoxPlugin.csproj.AssemblyReference.cache
obj/Debug/net48/AttributeExporterXrmToolBoxPlugin.csproj.FileListAbsolute.txt
obj/Debug/net48/AttributeExporterXrmToolBoxPlugin.csproj.GenerateResource.cache
obj/Debug/net48/AttributeExporterXrmToolBoxPlugin.GeneratedMSBuildEditorConfig.editorconfig
bin/Release/net48/AttributeExporterXrmToolBoxPlugin.dll
bin/Release/net48/AttributeExporterXrmToolBoxPlugin.pdb
bin/Release/net48/CsvHelper.dll
bin/Release/net48/McTools.Xrm.Connection.dll
bin/Release/net48/McTools.Xrm.Connection.WinForms.dll
bin/Release/net48/Microsoft.Bcl.AsyncInterfaces.dll
bin/Release/net48/Microsoft.Bcl.HashCode.dll
bin/Release/net48/Microsoft.Crm.Sdk.Proxy.dll
bin/Release/net48/Microsoft.Extensions.AI.Abstractions.dll
bin/Release/net48/Microsoft.Extensions.AI.dll
bin/Release/net48/Microsoft.Extensions.Caching.Abstractions.dll
bin/Release/net48/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Release/net48/Microsoft.Extensions.Logging.Abstractions.dll
bin/Release/net48/Microsoft.Extensions.Primitives.dll
bin/Release/net48/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
bin/Release/net48/Microsoft.Rest.ClientRuntime.dll
bin/Release/net48/Microsoft.Web.WebView2.Core.dll
bin/Release/net48/Microsoft.Web.WebView2.WinForms.dll
bin/Release/net48/Microsoft.Web.WebView2.Wpf.dll
bin/Release/net48/Microsoft.Xrm.Sdk.Deployment.dll
bin/Release/net48/Microsoft.Xrm.Sdk.dll
bin/Release/net48/Microsoft.Xrm.Sdk.Workflow.dll
bin/Release/net48/Microsoft.Xrm.Tooling.Connector.dll
bin/Release/net48/Microsoft.Xrm.Tooling.CrmConnectControl.dll
bin/Release/net48/Microsoft.Xrm.Tooling.Ui.Styles.dll
bin/Release/net48/Microsoft.Xrm.Tooling.WebResourceUtility.dll
bin/Release/net48/Newtonsoft.Json.dll
bin/Release/net48/ScintillaNET.dll
bin/Release/net48/System.Buffers.dll
bin/Release/net48/System.Diagnostics.DiagnosticSource.dll
bin/Release/net48/System.Memory.dll
bin/Release/net48/System.Numerics.Vectors.dll
bin/Release/net48/System.Resources.Extensions.dll
bin/Release/net48/System.Runtime.CompilerServices.Unsafe.dll
bin/Release/net48/System.ServiceModel.Http.dll
bin/Release/net48/System.ServiceModel.Primitives.dll
bin/Release/net48/System.Text.Encodings.Web.dll
bin/Release/net48/System.Text.Json.dll
bin/Release/net48/System.Threading.Channels.dll
bin/Release/net48/System.Threading.Tasks.Extensions.dll
bin/Release/net48/System.ValueTuple.dll
bin/Release/net48/WeifenLuo.WinFormsUI.Docking.dll
bin/Release/net48/WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll
bin/Release/net48/XrmToolBox.exe
bin/Release/net48/XrmToolBox.Extensibility.dll
bin/Release/net48/XrmToolBox.ToolLibrary.dll
bin/Release/net48/runtimes/win-arm64/native/WebView2Loader.dll
bin/Release/net48/runtimes/win-x64/native/WebView2Loader.dll
bin/Release/net48/runtimes/win-x86/native/WebView2Loader.dll
obj/Release/net48/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Release/net48/Attribut.89F86710.Up2Date
obj/Release/net48/AttributeExporterXrmToolBoxPlugin.assets.cache
obj/Release/net48/AttributeExporterXrmToolBoxPlugin.csproj.AssemblyReference.cache
obj/Release/net48/AttributeExporterXrmToolBoxPlugin.csproj.CoreCompileInputs.cache
obj/Release/net48/AttributeExporterXrmToolBoxPlugin.csproj.FileListAbsolute.txt
obj/Release/net48/AttributeExporterXrmToolBoxPlugin.csproj.GenerateResource.cache
obj/Release/net48/AttributeExporterXrmToolBoxPlugin.dll
obj/Release/net48/AttributeExporterXrmToolBoxPlugin.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net48/AttributeExporterXrmToolBoxPlugin.pdb
obj/Release/net48/AttributeExporterXrmToolBoxPlugin.Properties.Resources.resources
obj/Release/net48/AttributeExporterXrmToolBoxPlugin.sourcelink.json
bin/Debug/net48/AttributeExporterXrmToolBoxPlugin.dll
bin/Debug/net48/AttributeExporterXrmToolBoxPlugin.pdb
bin/Debug/net48/CsvHelper.dll
bin/Debug/net48/McTools.Xrm.Connection.dll
bin/Debug/net48/McTools.Xrm.Connection.WinForms.dll
bin/Debug/net48/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net48/Microsoft.Bcl.HashCode.dll
bin/Debug/net48/Microsoft.Crm.Sdk.Proxy.dll
bin/Debug/net48/Microsoft.Extensions.AI.Abstractions.dll
bin/Debug/net48/Microsoft.Extensions.AI.dll
bin/Debug/net48/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/net48/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net48/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net48/Microsoft.Extensions.Primitives.dll
bin/Debug/net48/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
bin/Debug/net48/Microsoft.Rest.ClientRuntime.dll
bin/Debug/net48/Microsoft.Web.WebView2.Core.dll
bin/Debug/net48/Microsoft.Web.WebView2.WinForms.dll
bin/Debug/net48/Microsoft.Web.WebView2.Wpf.dll
bin/Debug/net48/Microsoft.Xrm.Sdk.Deployment.dll
bin/Debug/net48/Microsoft.Xrm.Sdk.dll
bin/Debug/net48/Microsoft.Xrm.Sdk.Workflow.dll
bin/Debug/net48/Microsoft.Xrm.Tooling.Connector.dll
bin/Debug/net48/Microsoft.Xrm.Tooling.CrmConnectControl.dll
bin/Debug/net48/Microsoft.Xrm.Tooling.Ui.Styles.dll
bin/Debug/net48/Microsoft.Xrm.Tooling.WebResourceUtility.dll
bin/Debug/net48/Newtonsoft.Json.dll
bin/Debug/net48/ScintillaNET.dll
bin/Debug/net48/System.Buffers.dll
bin/Debug/net48/System.Diagnostics.DiagnosticSource.dll
bin/Debug/net48/System.Memory.dll
bin/Debug/net48/System.Numerics.Vectors.dll
bin/Debug/net48/System.Resources.Extensions.dll
bin/Debug/net48/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/net48/System.ServiceModel.Http.dll
bin/Debug/net48/System.ServiceModel.Primitives.dll
bin/Debug/net48/System.Text.Encodings.Web.dll
bin/Debug/net48/System.Text.Json.dll
bin/Debug/net48/System.Threading.Channels.dll
bin/Debug/net48/System.Threading.Tasks.Extensions.dll
bin/Debug/net48/System.ValueTuple.dll
bin/Debug/net48/WeifenLuo.WinFormsUI.Docking.dll
bin/Debug/net48/WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll
bin/Debug/net48/XrmToolBox.exe
bin/Debug/net48/XrmToolBox.Extensibility.dll
bin/Debug/net48/XrmToolBox.ToolLibrary.dll
bin/Debug/net48/runtimes/win-arm64/native/WebView2Loader.dll
bin/Debug/net48/runtimes/win-x64/native/WebView2Loader.dll
bin/Debug/net48/runtimes/win-x86/native/WebView2Loader.dll
obj/Debug/net48/Attribut.89F86710.Up2Date
obj/Debug/net48/AttributeExporterXrmToolBoxPlugin.csproj.CoreCompileInputs.cache
obj/Debug/net48/AttributeExporterXrmToolBoxPlugin.dll
obj/Debug/net48/AttributeExporterXrmToolBoxPlugin.pdb
obj/Debug/net48/AttributeExporterXrmToolBoxPlugin.Properties.Resources.resources
obj/Debug/net48/AttributeExporterXrmToolBoxPlugin.sourcelink.json
bin/Release/net48/Microsoft.Build.Framework.dll
bin/Release/net48/Microsoft.Build.Utilities.Core.dll
bin/Release/net48/Microsoft.VisualStudio.Setup.Configuration.Interop.dll
bin/Release/net48/System.Collections.Immutable.dll
